openai==2.7.1
gradio==5.49.1
prance==25.4.8.0
requests==2.32.5
python-dotenv==1.2.1
openapi-spec-validator==0.7.2
fastapi[standard]==0.121.0
sqlmodel==0.0.27
psycopg[binary]==3.2.12
pydantic-settings==2.11.0
pgvector==0.4.1
sqlalchemy[asyncio]==2.0.45