openapi: 3.1.0
info:
  title: tmdb-api
  version: '3'
servers:
  - url: https://api.themoviedb.org
paths:
  /3/discover/movie:
    get:
      summary: Movie
      description: Find movies using over 30 filters and sort options.
      operationId: discover-movie
      parameters:
        - name: certification
          in: query
          description: use in conjunction with `region`
          schema:
            type: string
        - name: certification.gte
          in: query
          description: use in conjunction with `region`
          schema:
            type: string
        - name: certification.lte
          in: query
          description: use in conjunction with `region`
          schema:
            type: string
        - name: certification_country
          in: query
          description: use in conjunction with the `certification`, `certification.gte` and `certification.lte` filters
          schema:
            type: string
        - name: include_adult
          in: query
          schema:
            type: boolean
            default: false
        - name: include_video
          in: query
          schema:
            type: boolean
            default: false
        - name: language
          in: query
          schema:
            type: string
            default: en-US
        - name: page
          in: query
          schema:
            type: integer
            format: int32
            default: 1
        - name: primary_release_year
          in: query
          schema:
            type: integer
            format: int32
        - name: primary_release_date.gte
          in: query
          schema:
            type: string
            format: date
        - name: primary_release_date.lte
          in: query
          schema:
            type: string
            format: date
        - name: region
          in: query
          schema:
            type: string
        - name: release_date.gte
          in: query
          schema:
            type: string
            format: date
        - name: release_date.lte
          in: query
          schema:
            type: string
            format: date
        - name: sort_by
          in: query
          schema:
            type: string
            enum:
              - original_title.asc
              - original_title.desc
              - popularity.asc
              - popularity.desc
              - revenue.asc
              - revenue.desc
              - primary_release_date.asc
              - title.asc
              - title.desc
              - primary_release_date.desc
              - vote_average.asc
              - vote_average.desc
              - vote_count.asc
              - vote_count.desc
            default: popularity.desc
        - name: vote_average.gte
          in: query
          schema:
            type: number
            format: float
        - name: vote_average.lte
          in: query
          schema:
            type: number
            format: float
        - name: vote_count.gte
          in: query
          schema:
            type: number
            format: float
        - name: vote_count.lte
          in: query
          schema:
            type: number
            format: float
        - name: watch_region
          in: query
          description: use in conjunction with `with_watch_monetization_types ` or `with_watch_providers `
          schema:
            type: string
        - name: with_cast
          in: query
          description: can be a comma (`AND`) or pipe (`OR`) separated query
          schema:
            type: string
        - name: with_companies
          in: query
          description: can be a comma (`AND`) or pipe (`OR`) separated query
          schema:
            type: string
        - name: with_crew
          in: query
          description: can be a comma (`AND`) or pipe (`OR`) separated query
          schema:
            type: string
        - name: with_genres
          in: query
          description: can be a comma (`AND`) or pipe (`OR`) separated query
          schema:
            type: string
        - name: with_keywords
          in: query
          description: can be a comma (`AND`) or pipe (`OR`) separated query
          schema:
            type: string
        - name: with_origin_country
          in: query
          schema:
            type: string
        - name: with_original_language
          in: query
          schema:
            type: string
        - name: with_people
          in: query
          description: can be a comma (`AND`) or pipe (`OR`) separated query
          schema:
            type: string
        - name: with_release_type
          in: query
          description: 'possible values are: [1, 2, 3, 4, 5, 6] can be a comma (`AND`) or pipe (`OR`) separated query, can be used in conjunction with `region`'
          schema:
            type: integer
            format: int32
        - name: with_runtime.gte
          in: query
          schema:
            type: integer
            format: int32
        - name: with_runtime.lte
          in: query
          schema:
            type: integer
            format: int32
        - name: with_watch_monetization_types
          in: query
          description: 'possible values are: [flatrate, free, ads, rent, buy] use in conjunction with `watch_region`, can be a comma (`AND`) or pipe (`OR`) separated query'
          schema:
            type: string
        - name: with_watch_providers
          in: query
          description: use in conjunction with `watch_region`, can be a comma (`AND`) or pipe (`OR`) separated query
          schema:
            type: string
        - name: without_companies
          in: query
          schema:
            type: string
        - name: without_genres
          in: query
          schema:
            type: string
        - name: without_keywords
          in: query
          schema:
            type: string
        - name: without_watch_providers
          in: query
          schema:
            type: string
        - name: year
          in: query
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: '{"page":1,"results":[{"adult":false,"backdrop_path":"/8YFL5QQVPy3AgrEQxNYVSgiPEbe.jpg","genre_ids":[28,12,878],"id":640146,"original_language":"en","original_title":"Ant-Man and the Wasp: Quantumania","overview":"Super-Hero partners Scott Lang and Hope van Dyne, along with with Hope''s parents Janet van Dyne and Hank Pym, and Scott''s daughter Cassie Lang, find themselves exploring the Quantum Realm, interacting with strange new creatures and embarking on an adventure that will push them beyond the limits of what they thought possible.","popularity":9272.643,"poster_path":"/ngl2FKBlU4fhbdsrtdom9LVLBXw.jpg","release_date":"2023-02-15","title":"Ant-Man and the Wasp: Quantumania","video":false,"vote_average":6.5,"vote_count":1856},{"adult":false,"backdrop_path":"/iJQIbOPm81fPEGKt5BPuZmfnA54.jpg","genre_ids":[16,12,10751,14,35],"id":502356,"original_language":"en","original_title":"The Super Mario Bros. Movie","overview":"While working underground to fix a water main, Brooklyn plumbers—and brothers—Mario and Luigi are transported down a mysterious pipe and wander into a magical new world. But when the brothers are separated, Mario embarks on an epic quest to find Luigi.","popularity":7212.464,"poster_path":"/qNBAXBIQlnOThrVvA6mA2B5ggV6.jpg","release_date":"2023-04-05","title":"The Super Mario Bros. Movie","video":false,"vote_average":7.5,"vote_count":1435},{"adult":false,"backdrop_path":"/nDxJJyA5giRhXx96q1sWbOUjMBI.jpg","genre_ids":[28,35,14],"id":594767,"original_language":"en","original_title":"Shazam! Fury of the Gods","overview":"Billy Batson and his foster siblings, who transform into superheroes by saying \"Shazam!\", are forced to get back into action and fight the Daughters of Atlas, who they must stop from using a weapon that could destroy the world.","popularity":4319.273,"poster_path":"/2VK4d3mqqTc7LVZLnLPeRiPaJ71.jpg","release_date":"2023-03-15","title":"Shazam! Fury of the Gods","video":false,"vote_average":6.8,"vote_count":1203},{"adult":false,"backdrop_path":"/ovM06PdF3M8wvKb06i4sjW3xoww.jpg","genre_ids":[878,12,28],"id":76600,"original_language":"en","original_title":"Avatar: The Way of Water","overview":"Set more than a decade after the events of the first film, learn the story of the Sully family (Jake, Neytiri, and their kids), the trouble that follows them, the lengths they go to keep each other safe, the battles they fight to stay alive, and the tragedies they endure.","popularity":3471.132,"poster_path":"/t6HIqrRAclMCA60NsSmeqe9RmNV.jpg","release_date":"2022-12-14","title":"Avatar: The Way of Water","video":false,"vote_average":7.7,"vote_count":7519},{"adult":false,"backdrop_path":"/xwA90BwZXTh8ke3CVsQlj8EOkFr.jpg","genre_ids":[28,12,36,18,10752],"id":948713,"original_language":"en","original_title":"The Last Kingdom: Seven Kings Must Die","overview":"In the wake of King Edward''s death, Uhtred of Bebbanburg and his comrades adventure across a fractured kingdom in the hopes of uniting England at last.","popularity":3162.414,"poster_path":"/7yyFEsuaLGTPul5UkHc5BhXnQ0k.jpg","release_date":"2023-04-14","title":"The Last Kingdom: Seven Kings Must Die","video":false,"vote_average":7.4,"vote_count":226},{"adult":false,"backdrop_path":"/5i6SjyDbDWqyun8klUuCxrlFbyw.jpg","genre_ids":[18,28],"id":677179,"original_language":"en","original_title":"Creed III","overview":"After dominating the boxing world, Adonis Creed has been thriving in both his career and family life. When a childhood friend and former boxing prodigy, Damian Anderson, resurfaces after serving a long sentence in prison, he is eager to prove that he deserves his shot in the ring. The face-off between former friends is more than just a fight. To settle the score, Adonis must put his future on the line to battle Damian — a fighter who has nothing to lose.","popularity":2865.256,"poster_path":"/cvsXj3I9Q2iyyIo95AecSd1tad7.jpg","release_date":"2023-03-01","title":"Creed III","video":false,"vote_average":7.3,"vote_count":1183},{"adult":false,"backdrop_path":"/7bWxAsNPv9CXHOhZbJVlj2KxgfP.jpg","genre_ids":[27,53],"id":713704,"original_language":"en","original_title":"Evil Dead Rise","overview":"Two sisters find an ancient vinyl that gives birth to bloodthirsty demons that run amok in a Los Angeles apartment building and thrusts them into a primal battle for survival as they face the most nightmarish version of family imaginable.","popularity":1898.367,"poster_path":"/mIBCtPvKZQlxubxKMeViO2UrP3q.jpg","release_date":"2023-04-12","title":"Evil Dead Rise","video":false,"vote_average":6.9,"vote_count":192},{"adult":false,"backdrop_path":"/bT3IpP7OopgiVuy6HCPOWLuaFAd.jpg","genre_ids":[35,9648,28],"id":638974,"original_language":"en","original_title":"Murder Mystery 2","overview":"After starting their own detective agency, Nick and Audrey Spitz land a career-making case when their billionaire pal is kidnapped from his wedding.","popularity":1855.858,"poster_path":"/s1VzVhXlqsevi8zeCMG9A16nEUf.jpg","release_date":"2023-03-28","title":"Murder Mystery 2","video":false,"vote_average":6.6,"vote_count":856},{"adult":false,"backdrop_path":"/ouB7hwclG7QI3INoYJHaZL4vOaa.jpg","genre_ids":[16,10751,14,12,35,18],"id":315162,"original_language":"en","original_title":"Puss in Boots: The Last Wish","overview":"Puss in Boots discovers that his passion for adventure has taken its toll: He has burned through eight of his nine lives, leaving him with only one life left. Puss sets out on an epic journey to find the mythical Last Wish and restore his nine lives.","popularity":1407.152,"poster_path":"/kuf6dutpsT0vSVehic3EZIqkOBt.jpg","release_date":"2022-12-07","title":"Puss in Boots: The Last Wish","video":false,"vote_average":8.3,"vote_count":5326},{"adult":false,"backdrop_path":"/h8gHn0OzBoaefsYseUByqsmEDMY.jpg","genre_ids":[28,53,80],"id":603692,"original_language":"en","original_title":"John Wick: Chapter 4","overview":"With the price on his head ever increasing, John Wick uncovers a path to defeating The High Table. But before he can earn his freedom, Wick must face off against a new enemy with powerful alliances across the globe and forces that turn old friends into foes.","popularity":1312.743,"poster_path":"/vZloFAK7NmvMGKE7VkF5UHaz0I.jpg","release_date":"2023-03-22","title":"John Wick: Chapter 4","video":false,"vote_average":8,"vote_count":1202},{"adult":false,"backdrop_path":"/nDmPjKLqLwWyd4Ssti8HCdhW5cZ.jpg","genre_ids":[28],"id":1048300,"original_language":"en","original_title":"Adrenaline","overview":"A female FBI agent holidaying in Eastern Europe with her family gets her life upside down when her daughter is kidnapped. She has to team up with a criminal on the run to save her daughter before time runs out.","popularity":1269.765,"poster_path":"/qVzRt8c2v4gGBYsnaflXVVeQ9Lh.jpg","release_date":"2022-12-15","title":"Adrenaline","video":false,"vote_average":4,"vote_count":4},{"adult":false,"backdrop_path":"/a2tys4sD7xzVaogPntGsT1ypVoT.jpg","genre_ids":[53,35,80],"id":804150,"original_language":"en","original_title":"Cocaine Bear","overview":"Inspired by a true story, an oddball group of cops, criminals, tourists and teens converge in a Georgia forest where a 500-pound black bear goes on a murderous rampage after unintentionally ingesting cocaine.","popularity":1223.954,"poster_path":"/gOnmaxHo0412UVr1QM5Nekv1xPi.jpg","release_date":"2023-02-22","title":"Cocaine Bear","video":false,"vote_average":6.4,"vote_count":873},{"adult":false,"backdrop_path":"/54IXMMEQKlkPXHqPExWy98UBmtE.jpg","genre_ids":[27],"id":1008005,"original_language":"es","original_title":"La niña de la comunión","overview":"Spain, late 1980s. Newcomer Sara tries to fit in with the other teens in this tight-knit small town in the province of Tarragona. If only she were more like her extroverted best friend, Rebe. They go out one night at a nightclub, on the way home, they come upon a little girl holding a doll, dressed for her first communion. And that''s when the nightmare begins.","popularity":1191.393,"poster_path":"/sP6AO11a7jWgsmT9T8j9EGIWAaZ.jpg","release_date":"2023-02-10","title":"The Communion Girl","video":false,"vote_average":6.3,"vote_count":55},{"adult":false,"backdrop_path":"/eSVu1FvGPy86TDo4hQbpuHx55DJ.jpg","genre_ids":[878,12,53,28],"id":700391,"original_language":"en","original_title":"65","overview":"65 million years ago, the only 2 survivors of a spaceship from Somaris that crash-landed on Earth must fend off dinosaurs and reach the escape vessel in time before an imminent asteroid strike threatens to destroy the planet.","popularity":1189.997,"poster_path":"/rzRb63TldOKdKydCvWJM8B6EkPM.jpg","release_date":"2023-03-02","title":"65","video":false,"vote_average":6.3,"vote_count":752},{"adult":false,"backdrop_path":"/tFaC1Fb1sv1dALB0i9Avi76MHmn.jpg","genre_ids":[10751,28,12],"id":946310,"original_language":"nl","original_title":"De Piraten van Hiernaast II: De Ninja''s van de Overkant","overview":"The pirates feel right at home in Sandborough, but the atmosphere cools right down when the ninjas come to live in the street. After all, pirates and ninjas are sworn enemies!  While pirate captain Hector Blunderbuss struggles to get rid of his new neighbours, son Billy and ninja daughter Yuka become friends. The pirates challenge the ninjas to the ultimate battle at the village''s annual hexathlon. Who will win the match? Ninjas are faster and more agile of course, but pirates are the best cheats in all of the seven seas...","popularity":1145.777,"poster_path":"/uDsvma9dAwnDPVuCFi99YpWvBk0.jpg","release_date":"2022-04-20","title":"Pirates Down the Street II: The Ninjas from Across","video":false,"vote_average":6.2,"vote_count":21},{"adult":false,"backdrop_path":"/rPSJAElGxOTko1zK6uIlYnTMFxN.jpg","genre_ids":[80],"id":1104040,"original_language":"en","original_title":"Gangs of Lagos","overview":"A group of friends who each have to navigate their own destiny, growing up on the bustling streets and neighborhood of Isale Eko, Lagos.","popularity":1133.317,"poster_path":"/nGwFsB6EXUCr21wzPgtP5juZPSv.jpg","release_date":"2023-04-07","title":"Gangs of Lagos","video":false,"vote_average":5.6,"vote_count":20},{"adult":false,"backdrop_path":"/5Y5pz0NX7SZS9036I733F7uNcwK.jpg","genre_ids":[27,53],"id":758323,"original_language":"en","original_title":"The Pope''s Exorcist","overview":"Father Gabriele Amorth, Chief Exorcist of the Vatican, investigates a young boy''s terrifying possession and ends up uncovering a centuries-old conspiracy the Vatican has desperately tried to keep hidden.","popularity":1103.242,"poster_path":"/9JBEPLTPSm0d1mbEcLxULjJq9Eh.jpg","release_date":"2023-04-05","title":"The Pope''s Exorcist","video":false,"vote_average":6.5,"vote_count":142},{"adult":false,"backdrop_path":"/m1fgGSLK0WvRpzM1AmZu38m0Tx8.jpg","genre_ids":[28],"id":842945,"original_language":"en","original_title":"Supercell","overview":"Good-hearted teenager William always lived in hope of following in his late father’s footsteps and becoming a storm chaser. His father’s legacy has now been turned into a storm-chasing tourist business, managed by the greedy and reckless Zane Rogers, who is now using William as the main attraction to lead a group of unsuspecting adventurers deep into the eye of the most dangerous supercell ever seen.","popularity":962.106,"poster_path":"/gbGHezV6yrhua0KfAgwrknSOiIY.jpg","release_date":"2023-03-17","title":"Supercell","video":false,"vote_average":6.4,"vote_count":122},{"adult":false,"backdrop_path":"/tYcmm8XtzRdcT6kliCbHuWwLCwB.jpg","genre_ids":[28,80,53],"id":849869,"original_language":"ko","original_title":"길복순","overview":"At work, she''s a renowned assassin. At home, she''s a single mom to a teenage daughter. Killing? That''s easy. It''s parenting that''s the hard part.","popularity":956.601,"poster_path":"/taYgn3RRpCGlTGdaGQvnSIOzXFy.jpg","release_date":"2023-02-17","title":"Kill Boksoon","video":false,"vote_average":6.8,"vote_count":184},{"adult":false,"backdrop_path":"/eNJhWy7xFzR74SYaSJHqJZuroDm.jpg","genre_ids":[28,878],"id":1033219,"original_language":"en","original_title":"Attack on Titan","overview":"As viable water is depleted on Earth, a mission is sent to Saturn''s moon Titan to retrieve sustainable H2O reserves from its alien inhabitants. But just as the humans acquire the precious resource, they are attacked by Titan rebels, who don''t trust that the Earthlings will leave in peace.","popularity":875.796,"poster_path":"/qNz4l8UgTkD8rlqiKZ556pCJ9iO.jpg","release_date":"2022-09-30","title":"Attack on Titan","video":false,"vote_average":6.1,"vote_count":104}],"total_pages":38020,"total_results":760385}'
              schema:
                type: object
                properties:
                  page:
                    type: integer
                    example: 1
                    default: 0
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        adult:
                          type: boolean
                          example: false
                          default: true
                        backdrop_path:
                          type: string
                          example: /8YFL5QQVPy3AgrEQxNYVSgiPEbe.jpg
                        genre_ids:
                          type: array
                          items:
                            type: integer
                            example: 28
                            default: 0
                        id:
                          type: integer
                          example: 640146
                          default: 0
                        original_language:
                          type: string
                          example: en
                        original_title:
                          type: string
                          example: 'Ant-Man and the Wasp: Quantumania'
                        overview:
                          type: string
                          example: Super-Hero partners Scott Lang and Hope van Dyne, along with with Hope's parents Janet van Dyne and Hank Pym, and Scott's daughter Cassie Lang, find themselves exploring the Quantum Realm, interacting with strange new creatures and embarking on an adventure that will push them beyond the limits of what they thought possible.
                        popularity:
                          type: number
                          example: 9272.643
                          default: 0
                        poster_path:
                          type: string
                          example: /ngl2FKBlU4fhbdsrtdom9LVLBXw.jpg
                        release_date:
                          type: string
                          example: '2023-02-15'
                        title:
                          type: string
                          example: 'Ant-Man and the Wasp: Quantumania'
                        video:
                          type: boolean
                          example: false
                          default: true
                        vote_average:
                          type: number
                          example: 6.5
                          default: 0
                        vote_count:
                          type: integer
                          example: 1856
                          default: 0
                  total_pages:
                    type: integer
                    example: 38020
                    default: 0
                  total_results:
                    type: integer
                    example: 760385
                    default: 0
      deprecated: false
  /3/movie/now_playing:
    get:
      summary: Now Playing
      description: Get a list of movies that are currently in theatres.
      operationId: movie-now-playing-list
      parameters:
        - name: language
          in: query
          schema:
            type: string
            default: en-US
        - name: page
          in: query
          schema:
            type: integer
            format: int32
            default: 1
        - name: region
          in: query
          description: ISO-3166-1 code
          schema:
            type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: '{"dates":{"maximum":"2023-05-03","minimum":"2023-03-16"},"page":1,"results":[{"adult":false,"backdrop_path":"/iJQIbOPm81fPEGKt5BPuZmfnA54.jpg","genre_ids":[16,12,10751,14,35],"id":502356,"original_language":"en","original_title":"The Super Mario Bros. Movie","overview":"While working underground to fix a water main, Brooklyn plumbers—and brothers—Mario and Luigi are transported down a mysterious pipe and wander into a magical new world. But when the brothers are separated, Mario embarks on an epic quest to find Luigi.","popularity":6572.614,"poster_path":"/qNBAXBIQlnOThrVvA6mA2B5ggV6.jpg","release_date":"2023-04-05","title":"The Super Mario Bros. Movie","video":false,"vote_average":7.5,"vote_count":1456},{"adult":false,"backdrop_path":"/nDxJJyA5giRhXx96q1sWbOUjMBI.jpg","genre_ids":[28,35,14],"id":594767,"original_language":"en","original_title":"Shazam! Fury of the Gods","overview":"Billy Batson and his foster siblings, who transform into superheroes by saying \"Shazam!\", are forced to get back into action and fight the Daughters of Atlas, who they must stop from using a weapon that could destroy the world.","popularity":4274.232,"poster_path":"/2VK4d3mqqTc7LVZLnLPeRiPaJ71.jpg","release_date":"2023-03-15","title":"Shazam! Fury of the Gods","video":false,"vote_average":6.9,"vote_count":1231},{"adult":false,"backdrop_path":"/7bWxAsNPv9CXHOhZbJVlj2KxgfP.jpg","genre_ids":[27,53],"id":713704,"original_language":"en","original_title":"Evil Dead Rise","overview":"Two sisters find an ancient vinyl that gives birth to bloodthirsty demons that run amok in a Los Angeles apartment building and thrusts them into a primal battle for survival as they face the most nightmarish version of family imaginable.","popularity":1696.367,"poster_path":"/mIBCtPvKZQlxubxKMeViO2UrP3q.jpg","release_date":"2023-04-12","title":"Evil Dead Rise","video":false,"vote_average":7,"vote_count":207},{"adult":false,"backdrop_path":"/ouB7hwclG7QI3INoYJHaZL4vOaa.jpg","genre_ids":[16,10751,14,12,35,18],"id":315162,"original_language":"en","original_title":"Puss in Boots: The Last Wish","overview":"Puss in Boots discovers that his passion for adventure has taken its toll: He has burned through eight of his nine lives, leaving him with only one life left. Puss sets out on an epic journey to find the mythical Last Wish and restore his nine lives.","popularity":1347.259,"poster_path":"/kuf6dutpsT0vSVehic3EZIqkOBt.jpg","release_date":"2022-12-07","title":"Puss in Boots: The Last Wish","video":false,"vote_average":8.3,"vote_count":5331},{"adult":false,"backdrop_path":"/h8gHn0OzBoaefsYseUByqsmEDMY.jpg","genre_ids":[28,53,80],"id":603692,"original_language":"en","original_title":"John Wick: Chapter 4","overview":"With the price on his head ever increasing, John Wick uncovers a path to defeating The High Table. But before he can earn his freedom, Wick must face off against a new enemy with powerful alliances across the globe and forces that turn old friends into foes.","popularity":1320.735,"poster_path":"/vZloFAK7NmvMGKE7VkF5UHaz0I.jpg","release_date":"2023-03-22","title":"John Wick: Chapter 4","video":false,"vote_average":8,"vote_count":1211},{"adult":false,"backdrop_path":"/a2tys4sD7xzVaogPntGsT1ypVoT.jpg","genre_ids":[53,35,80],"id":804150,"original_language":"en","original_title":"Cocaine Bear","overview":"Inspired by a true story, an oddball group of cops, criminals, tourists and teens converge in a Georgia forest where a 500-pound black bear goes on a murderous rampage after unintentionally ingesting cocaine.","popularity":1175.491,"poster_path":"/gOnmaxHo0412UVr1QM5Nekv1xPi.jpg","release_date":"2023-02-22","title":"Cocaine Bear","video":false,"vote_average":6.4,"vote_count":878},{"adult":false,"backdrop_path":"/54IXMMEQKlkPXHqPExWy98UBmtE.jpg","genre_ids":[27],"id":1008005,"original_language":"es","original_title":"La niña de la comunión","overview":"Spain, late 1980s. Newcomer Sara tries to fit in with the other teens in this tight-knit small town in the province of Tarragona. If only she were more like her extroverted best friend, Rebe. They go out one night at a nightclub, on the way home, they come upon a little girl holding a doll, dressed for her first communion. And that''s when the nightmare begins.","popularity":1154.3,"poster_path":"/sP6AO11a7jWgsmT9T8j9EGIWAaZ.jpg","release_date":"2023-02-10","title":"The Communion Girl","video":false,"vote_average":6.5,"vote_count":58},{"adult":false,"backdrop_path":"/eSVu1FvGPy86TDo4hQbpuHx55DJ.jpg","genre_ids":[878,12,53,28],"id":700391,"original_language":"en","original_title":"65","overview":"65 million years ago, the only 2 survivors of a spaceship from Somaris that crash-landed on Earth must fend off dinosaurs and reach the escape vessel in time before an imminent asteroid strike threatens to destroy the planet.","popularity":1077.09,"poster_path":"/rzRb63TldOKdKydCvWJM8B6EkPM.jpg","release_date":"2023-03-02","title":"65","video":false,"vote_average":6.3,"vote_count":763},{"adult":false,"backdrop_path":"/5Y5pz0NX7SZS9036I733F7uNcwK.jpg","genre_ids":[27,53],"id":758323,"original_language":"en","original_title":"The Pope''s Exorcist","overview":"Father Gabriele Amorth, Chief Exorcist of the Vatican, investigates a young boy''s terrifying possession and ends up uncovering a centuries-old conspiracy the Vatican has desperately tried to keep hidden.","popularity":1073.229,"poster_path":"/9JBEPLTPSm0d1mbEcLxULjJq9Eh.jpg","release_date":"2023-04-05","title":"The Pope''s Exorcist","video":false,"vote_average":6.5,"vote_count":143},{"adult":false,"backdrop_path":"/m1fgGSLK0WvRpzM1AmZu38m0Tx8.jpg","genre_ids":[28],"id":842945,"original_language":"en","original_title":"Supercell","overview":"Good-hearted teenager William always lived in hope of following in his late father’s footsteps and becoming a storm chaser. His father’s legacy has now been turned into a storm-chasing tourist business, managed by the greedy and reckless Zane Rogers, who is now using William as the main attraction to lead a group of unsuspecting adventurers deep into the eye of the most dangerous supercell ever seen.","popularity":942.178,"poster_path":"/gbGHezV6yrhua0KfAgwrknSOiIY.jpg","release_date":"2023-03-17","title":"Supercell","video":false,"vote_average":6.3,"vote_count":125},{"adult":false,"backdrop_path":"/b9UCfDzwiWw7mIFsIQR9ZJUeh7q.jpg","genre_ids":[10749,28,35],"id":868759,"original_language":"en","original_title":"Ghosted","overview":"Salt-of-the-earth Cole falls head over heels for enigmatic Sadie — but then makes the shocking discovery that she’s a secret agent. Before they can decide on a second date, Cole and Sadie are swept away on an international adventure to save the world.","popularity":867.762,"poster_path":"/liLN69YgoovHVgmlHJ876PKi5Yi.jpg","release_date":"2023-04-21","title":"Ghosted","video":false,"vote_average":7.3,"vote_count":371},{"adult":false,"backdrop_path":"/44immBwzhDVyjn87b3x3l9mlhAD.jpg","genre_ids":[27,9648,53],"id":934433,"original_language":"en","original_title":"Scream VI","overview":"Following the latest Ghostface killings, the four survivors leave Woodsboro behind and start a fresh chapter.","popularity":853.917,"poster_path":"/wDWwtvkRRlgTiUr6TyLSMX8FCuZ.jpg","release_date":"2023-03-08","title":"Scream VI","video":false,"vote_average":7.4,"vote_count":706},{"adult":false,"backdrop_path":"/c3hl9E8E7b9opXDFVF5tSyk0ykr.jpg","genre_ids":[16,35,10751,12,14],"id":816904,"original_language":"es","original_title":"Momias","overview":"Through a series of unfortunate events, three mummies end up in present-day London and embark on a wacky and hilarious journey in search of an old ring belonging to the Royal Family, stolen by ambitious archaeologist Lord Carnaby.","popularity":749.77,"poster_path":"/qVdrYN8qu7xUtsdEFeGiIVIaYd.jpg","release_date":"2023-01-05","title":"Mummies","video":false,"vote_average":7.2,"vote_count":220},{"adult":false,"backdrop_path":"/wD2kUCX1Bb6oeIb2uz7kbdfLP6k.jpg","genre_ids":[27,53],"id":980078,"original_language":"en","original_title":"Winnie the Pooh: Blood and Honey","overview":"Christopher Robin is headed off to college and he has abandoned his old friends, Pooh and Piglet, which then leads to the duo embracing their inner monsters.","popularity":690.338,"poster_path":"/ewF3IlGscc7FjgGEPcQvZsAsgAW.jpg","release_date":"2023-01-27","title":"Winnie the Pooh: Blood and Honey","video":false,"vote_average":5.8,"vote_count":517},{"adult":false,"backdrop_path":"/dlrWhn0G3AtxYUx2D9P2bmzcsvF.jpg","genre_ids":[878,27,35],"id":536554,"original_language":"en","original_title":"M3GAN","overview":"A brilliant toy company roboticist uses artificial intelligence to develop M3GAN, a life-like doll programmed to emotionally bond with her newly orphaned niece. But when the doll''s programming works too well, she becomes overprotective of her new friend with terrifying results.","popularity":715.958,"poster_path":"/d9nBoowhjiiYc4FBNtQkPY7c11H.jpg","release_date":"2022-12-28","title":"M3GAN","video":false,"vote_average":7.4,"vote_count":2428},{"adult":false,"backdrop_path":"/aHcWyh0n4YbBy9gxYCDlgsNVS3M.jpg","genre_ids":[27,9648,53],"id":631842,"original_language":"en","original_title":"Knock at the Cabin","overview":"While vacationing at a remote cabin, a young girl and her two fathers are taken hostage by four armed strangers who demand that the family make an unthinkable choice to avert the apocalypse. With limited access to the outside world, the family must decide what they believe before all is lost.","popularity":528.208,"poster_path":"/dm06L9pxDOL9jNSK4Cb6y139rrG.jpg","release_date":"2023-02-01","title":"Knock at the Cabin","video":false,"vote_average":6.4,"vote_count":1337},{"adult":false,"backdrop_path":"/70aVSo3fuZ94jyQ3rT64afEf8lV.jpg","genre_ids":[16,12,35,10751,14],"id":676710,"original_language":"en","original_title":"The Amazing Maurice","overview":"Maurice is a streetwise ginger cat who comes up with a money-making scam by befriending a group of self-taught talking rats. When Maurice and the rodents meet a bookworm called Malicia, their little con soon goes down the drain.","popularity":515.629,"poster_path":"/ydhZeUjbzVEFclUpMhLfDZSavUY.jpg","release_date":"2022-12-16","title":"The Amazing Maurice","video":false,"vote_average":7,"vote_count":61},{"adult":false,"backdrop_path":"/zGoZB4CboMzY1z4G3nU6BWnMDB2.jpg","genre_ids":[28,35,10749],"id":758009,"original_language":"en","original_title":"Shotgun Wedding","overview":"Darcy and Tom gather their families for the ultimate destination wedding but when the entire party is taken hostage, “’Til Death Do Us Part” takes on a whole new meaning in this hilarious, adrenaline-fueled adventure as Darcy and Tom must save their loved ones—if they don’t kill each other first.","popularity":467.041,"poster_path":"/t79ozwWnwekO0ADIzsFP1E5SkvR.jpg","release_date":"2022-12-28","title":"Shotgun Wedding","video":false,"vote_average":6.3,"vote_count":775},{"adult":false,"backdrop_path":"/ttXABm22Vu9MsQjDAF3Lx2nUPy0.jpg","genre_ids":[35,28],"id":1101799,"original_language":"es","original_title":"Fuga de Reinas","overview":"When four women finally take the road trip they planned in high school, they have no idea of the things they''ll bump into sometimes literally.","popularity":403.116,"poster_path":"/oUmuwUIofGsgOr05kieD3Q8ELEO.jpg","release_date":"2023-04-14","title":"Queens on the Run","video":false,"vote_average":7.2,"vote_count":59},{"adult":false,"backdrop_path":"/94TIUEhuwv8PhdIADEvSuwPljS5.jpg","genre_ids":[10752,28],"id":840326,"original_language":"fi","original_title":"Sisu","overview":"Deep in the wilderness of Lapland, Aatami Korpi is searching for gold but after he stumbles upon Nazi patrol, a breathtaking and gold-hungry chase through the destroyed and mined Lapland wilderness begins.","popularity":364.899,"poster_path":"/dHx5yuBb05U9vNaNhIBD7jWyxPk.jpg","release_date":"2023-01-27","title":"Sisu","video":false,"vote_average":6.9,"vote_count":16}],"total_pages":87,"total_results":1734}'
              schema:
                type: object
                properties:
                  dates:
                    type: object
                    properties:
                      maximum:
                        type: string
                        example: '2023-05-03'
                      minimum:
                        type: string
                        example: '2023-03-16'
                  page:
                    type: integer
                    example: 1
                    default: 0
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        adult:
                          type: boolean
                          example: false
                          default: true
                        backdrop_path:
                          type: string
                          example: /iJQIbOPm81fPEGKt5BPuZmfnA54.jpg
                        genre_ids:
                          type: array
                          items:
                            type: integer
                            example: 16
                            default: 0
                        id:
                          type: integer
                          example: 502356
                          default: 0
                        original_language:
                          type: string
                          example: en
                        original_title:
                          type: string
                          example: The Super Mario Bros. Movie
                        overview:
                          type: string
                          example: While working underground to fix a water main, Brooklyn plumbers—and brothers—Mario and Luigi are transported down a mysterious pipe and wander into a magical new world. But when the brothers are separated, Mario embarks on an epic quest to find Luigi.
                        popularity:
                          type: number
                          example: 6572.614
                          default: 0
                        poster_path:
                          type: string
                          example: /qNBAXBIQlnOThrVvA6mA2B5ggV6.jpg
                        release_date:
                          type: string
                          example: '2023-04-05'
                        title:
                          type: string
                          example: The Super Mario Bros. Movie
                        video:
                          type: boolean
                          example: false
                          default: true
                        vote_average:
                          type: number
                          example: 7.5
                          default: 0
                        vote_count:
                          type: integer
                          example: 1456
                          default: 0
                  total_pages:
                    type: integer
                    example: 87
                    default: 0
                  total_results:
                    type: integer
                    example: 1734
                    default: 0
      deprecated: false
  /3/movie/popular:
    get:
      summary: Popular
      description: Get a list of movies ordered by popularity.
      operationId: movie-popular-list
      parameters:
        - name: language
          in: query
          schema:
            type: string
            default: en-US
        - name: page
          in: query
          schema:
            type: integer
            format: int32
            default: 1
        - name: region
          in: query
          description: ISO-3166-1 code
          schema:
            type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: '{"page":1,"results":[{"adult":false,"backdrop_path":"/gMJngTNfaqCSCqGD4y8lVMZXKDn.jpg","genre_ids":[28,12,878],"id":640146,"original_language":"en","original_title":"Ant-Man and the Wasp: Quantumania","overview":"Super-Hero partners Scott Lang and Hope van Dyne, along with with Hope''s parents Janet van Dyne and Hank Pym, and Scott''s daughter Cassie Lang, find themselves exploring the Quantum Realm, interacting with strange new creatures and embarking on an adventure that will push them beyond the limits of what they thought possible.","popularity":8567.865,"poster_path":"/ngl2FKBlU4fhbdsrtdom9LVLBXw.jpg","release_date":"2023-02-15","title":"Ant-Man and the Wasp: Quantumania","video":false,"vote_average":6.5,"vote_count":1886},{"adult":false,"backdrop_path":"/iJQIbOPm81fPEGKt5BPuZmfnA54.jpg","genre_ids":[16,12,10751,14,35],"id":502356,"original_language":"en","original_title":"The Super Mario Bros. Movie","overview":"While working underground to fix a water main, Brooklyn plumbers—and brothers—Mario and Luigi are transported down a mysterious pipe and wander into a magical new world. But when the brothers are separated, Mario embarks on an epic quest to find Luigi.","popularity":6572.614,"poster_path":"/qNBAXBIQlnOThrVvA6mA2B5ggV6.jpg","release_date":"2023-04-05","title":"The Super Mario Bros. Movie","video":false,"vote_average":7.5,"vote_count":1456},{"adult":false,"backdrop_path":"/nDxJJyA5giRhXx96q1sWbOUjMBI.jpg","genre_ids":[28,35,14],"id":594767,"original_language":"en","original_title":"Shazam! Fury of the Gods","overview":"Billy Batson and his foster siblings, who transform into superheroes by saying \"Shazam!\", are forced to get back into action and fight the Daughters of Atlas, who they must stop from using a weapon that could destroy the world.","popularity":4274.232,"poster_path":"/2VK4d3mqqTc7LVZLnLPeRiPaJ71.jpg","release_date":"2023-03-15","title":"Shazam! Fury of the Gods","video":false,"vote_average":6.9,"vote_count":1231},{"adult":false,"backdrop_path":"/ovM06PdF3M8wvKb06i4sjW3xoww.jpg","genre_ids":[878,12,28],"id":76600,"original_language":"en","original_title":"Avatar: The Way of Water","overview":"Set more than a decade after the events of the first film, learn the story of the Sully family (Jake, Neytiri, and their kids), the trouble that follows them, the lengths they go to keep each other safe, the battles they fight to stay alive, and the tragedies they endure.","popularity":3365.913,"poster_path":"/t6HIqrRAclMCA60NsSmeqe9RmNV.jpg","release_date":"2022-12-14","title":"Avatar: The Way of Water","video":false,"vote_average":7.7,"vote_count":7535},{"adult":false,"backdrop_path":"/xwA90BwZXTh8ke3CVsQlj8EOkFr.jpg","genre_ids":[28,12,36,18,10752],"id":948713,"original_language":"en","original_title":"The Last Kingdom: Seven Kings Must Die","overview":"In the wake of King Edward''s death, Uhtred of Bebbanburg and his comrades adventure across a fractured kingdom in the hopes of uniting England at last.","popularity":3119.049,"poster_path":"/7yyFEsuaLGTPul5UkHc5BhXnQ0k.jpg","release_date":"2023-04-14","title":"The Last Kingdom: Seven Kings Must Die","video":false,"vote_average":7.4,"vote_count":232},{"adult":false,"backdrop_path":"/5i6SjyDbDWqyun8klUuCxrlFbyw.jpg","genre_ids":[18,28],"id":677179,"original_language":"en","original_title":"Creed III","overview":"After dominating the boxing world, Adonis Creed has been thriving in both his career and family life. When a childhood friend and former boxing prodigy, Damian Anderson, resurfaces after serving a long sentence in prison, he is eager to prove that he deserves his shot in the ring. The face-off between former friends is more than just a fight. To settle the score, Adonis must put his future on the line to battle Damian — a fighter who has nothing to lose.","popularity":2856.222,"poster_path":"/cvsXj3I9Q2iyyIo95AecSd1tad7.jpg","release_date":"2023-03-01","title":"Creed III","video":false,"vote_average":7.3,"vote_count":1192},{"adult":false,"backdrop_path":"/bT3IpP7OopgiVuy6HCPOWLuaFAd.jpg","genre_ids":[35,9648,28],"id":638974,"original_language":"en","original_title":"Murder Mystery 2","overview":"After starting their own detective agency, Nick and Audrey Spitz land a career-making case when their billionaire pal is kidnapped from his wedding.","popularity":1879.655,"poster_path":"/s1VzVhXlqsevi8zeCMG9A16nEUf.jpg","release_date":"2023-03-28","title":"Murder Mystery 2","video":false,"vote_average":6.5,"vote_count":864},{"adult":false,"backdrop_path":"/7bWxAsNPv9CXHOhZbJVlj2KxgfP.jpg","genre_ids":[27,53],"id":713704,"original_language":"en","original_title":"Evil Dead Rise","overview":"Two sisters find an ancient vinyl that gives birth to bloodthirsty demons that run amok in a Los Angeles apartment building and thrusts them into a primal battle for survival as they face the most nightmarish version of family imaginable.","popularity":1696.367,"poster_path":"/mIBCtPvKZQlxubxKMeViO2UrP3q.jpg","release_date":"2023-04-12","title":"Evil Dead Rise","video":false,"vote_average":7,"vote_count":207},{"adult":false,"backdrop_path":"/ouB7hwclG7QI3INoYJHaZL4vOaa.jpg","genre_ids":[16,10751,14,12,35,18],"id":315162,"original_language":"en","original_title":"Puss in Boots: The Last Wish","overview":"Puss in Boots discovers that his passion for adventure has taken its toll: He has burned through eight of his nine lives, leaving him with only one life left. Puss sets out on an epic journey to find the mythical Last Wish and restore his nine lives.","popularity":1347.259,"poster_path":"/kuf6dutpsT0vSVehic3EZIqkOBt.jpg","release_date":"2022-12-07","title":"Puss in Boots: The Last Wish","video":false,"vote_average":8.3,"vote_count":5331},{"adult":false,"backdrop_path":"/h8gHn0OzBoaefsYseUByqsmEDMY.jpg","genre_ids":[28,53,80],"id":603692,"original_language":"en","original_title":"John Wick: Chapter 4","overview":"With the price on his head ever increasing, John Wick uncovers a path to defeating The High Table. But before he can earn his freedom, Wick must face off against a new enemy with powerful alliances across the globe and forces that turn old friends into foes.","popularity":1320.735,"poster_path":"/vZloFAK7NmvMGKE7VkF5UHaz0I.jpg","release_date":"2023-03-22","title":"John Wick: Chapter 4","video":false,"vote_average":8,"vote_count":1211},{"adult":false,"backdrop_path":"/nDmPjKLqLwWyd4Ssti8HCdhW5cZ.jpg","genre_ids":[28],"id":1048300,"original_language":"en","original_title":"Adrenaline","overview":"A female FBI agent holidaying in Eastern Europe with her family gets her life upside down when her daughter is kidnapped. She has to team up with a criminal on the run to save her daughter before time runs out.","popularity":1460.629,"poster_path":"/qVzRt8c2v4gGBYsnaflXVVeQ9Lh.jpg","release_date":"2022-12-15","title":"Adrenaline","video":false,"vote_average":4,"vote_count":4},{"adult":false,"backdrop_path":"/a2tys4sD7xzVaogPntGsT1ypVoT.jpg","genre_ids":[53,35,80],"id":804150,"original_language":"en","original_title":"Cocaine Bear","overview":"Inspired by a true story, an oddball group of cops, criminals, tourists and teens converge in a Georgia forest where a 500-pound black bear goes on a murderous rampage after unintentionally ingesting cocaine.","popularity":1175.491,"poster_path":"/gOnmaxHo0412UVr1QM5Nekv1xPi.jpg","release_date":"2023-02-22","title":"Cocaine Bear","video":false,"vote_average":6.4,"vote_count":878},{"adult":false,"backdrop_path":"/54IXMMEQKlkPXHqPExWy98UBmtE.jpg","genre_ids":[27],"id":1008005,"original_language":"es","original_title":"La niña de la comunión","overview":"Spain, late 1980s. Newcomer Sara tries to fit in with the other teens in this tight-knit small town in the province of Tarragona. If only she were more like her extroverted best friend, Rebe. They go out one night at a nightclub, on the way home, they come upon a little girl holding a doll, dressed for her first communion. And that''s when the nightmare begins.","popularity":1154.3,"poster_path":"/sP6AO11a7jWgsmT9T8j9EGIWAaZ.jpg","release_date":"2023-02-10","title":"The Communion Girl","video":false,"vote_average":6.5,"vote_count":58},{"adult":false,"backdrop_path":"/tFaC1Fb1sv1dALB0i9Avi76MHmn.jpg","genre_ids":[10751,28,12],"id":946310,"original_language":"nl","original_title":"De Piraten van Hiernaast II: De Ninja''s van de Overkant","overview":"The pirates feel right at home in Sandborough, but the atmosphere cools right down when the ninjas come to live in the street. After all, pirates and ninjas are sworn enemies!  While pirate captain Hector Blunderbuss struggles to get rid of his new neighbours, son Billy and ninja daughter Yuka become friends. The pirates challenge the ninjas to the ultimate battle at the village''s annual hexathlon. Who will win the match? Ninjas are faster and more agile of course, but pirates are the best cheats in all of the seven seas...","popularity":1159.928,"poster_path":"/uDsvma9dAwnDPVuCFi99YpWvBk0.jpg","release_date":"2022-04-20","title":"Pirates Down the Street II: The Ninjas from Across","video":false,"vote_average":6.4,"vote_count":22},{"adult":false,"backdrop_path":"/rPSJAElGxOTko1zK6uIlYnTMFxN.jpg","genre_ids":[80],"id":1104040,"original_language":"en","original_title":"Gangs of Lagos","overview":"A group of friends who each have to navigate their own destiny, growing up on the bustling streets and neighborhood of Isale Eko, Lagos.","popularity":1138.252,"poster_path":"/nGwFsB6EXUCr21wzPgtP5juZPSv.jpg","release_date":"2023-04-07","title":"Gangs of Lagos","video":false,"vote_average":5.6,"vote_count":21},{"adult":false,"backdrop_path":"/eSVu1FvGPy86TDo4hQbpuHx55DJ.jpg","genre_ids":[878,12,53,28],"id":700391,"original_language":"en","original_title":"65","overview":"65 million years ago, the only 2 survivors of a spaceship from Somaris that crash-landed on Earth must fend off dinosaurs and reach the escape vessel in time before an imminent asteroid strike threatens to destroy the planet.","popularity":1077.09,"poster_path":"/rzRb63TldOKdKydCvWJM8B6EkPM.jpg","release_date":"2023-03-02","title":"65","video":false,"vote_average":6.3,"vote_count":763},{"adult":false,"backdrop_path":"/5Y5pz0NX7SZS9036I733F7uNcwK.jpg","genre_ids":[27,53],"id":758323,"original_language":"en","original_title":"The Pope''s Exorcist","overview":"Father Gabriele Amorth, Chief Exorcist of the Vatican, investigates a young boy''s terrifying possession and ends up uncovering a centuries-old conspiracy the Vatican has desperately tried to keep hidden.","popularity":1073.229,"poster_path":"/9JBEPLTPSm0d1mbEcLxULjJq9Eh.jpg","release_date":"2023-04-05","title":"The Pope''s Exorcist","video":false,"vote_average":6.5,"vote_count":143},{"adult":false,"backdrop_path":"/m1fgGSLK0WvRpzM1AmZu38m0Tx8.jpg","genre_ids":[28],"id":842945,"original_language":"en","original_title":"Supercell","overview":"Good-hearted teenager William always lived in hope of following in his late father’s footsteps and becoming a storm chaser. His father’s legacy has now been turned into a storm-chasing tourist business, managed by the greedy and reckless Zane Rogers, who is now using William as the main attraction to lead a group of unsuspecting adventurers deep into the eye of the most dangerous supercell ever seen.","popularity":942.178,"poster_path":"/gbGHezV6yrhua0KfAgwrknSOiIY.jpg","release_date":"2023-03-17","title":"Supercell","video":false,"vote_average":6.3,"vote_count":125},{"adult":false,"backdrop_path":"/tYcmm8XtzRdcT6kliCbHuWwLCwB.jpg","genre_ids":[28,80,53],"id":849869,"original_language":"ko","original_title":"길복순","overview":"At work, she''s a renowned assassin. At home, she''s a single mom to a teenage daughter. Killing? That''s easy. It''s parenting that''s the hard part.","popularity":958.517,"poster_path":"/taYgn3RRpCGlTGdaGQvnSIOzXFy.jpg","release_date":"2023-02-17","title":"Kill Boksoon","video":false,"vote_average":6.8,"vote_count":184},{"adult":false,"backdrop_path":"/eNJhWy7xFzR74SYaSJHqJZuroDm.jpg","genre_ids":[28,878],"id":1033219,"original_language":"en","original_title":"Attack on Titan","overview":"As viable water is depleted on Earth, a mission is sent to Saturn''s moon Titan to retrieve sustainable H2O reserves from its alien inhabitants. But just as the humans acquire the precious resource, they are attacked by Titan rebels, who don''t trust that the Earthlings will leave in peace.","popularity":897.66,"poster_path":"/qNz4l8UgTkD8rlqiKZ556pCJ9iO.jpg","release_date":"2022-09-30","title":"Attack on Titan","video":false,"vote_average":6.1,"vote_count":105}],"total_pages":38029,"total_results":760569}'
              schema:
                type: object
                properties:
                  page:
                    type: integer
                    example: 1
                    default: 0
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        adult:
                          type: boolean
                          example: false
                          default: true
                        backdrop_path:
                          type: string
                          example: /gMJngTNfaqCSCqGD4y8lVMZXKDn.jpg
                        genre_ids:
                          type: array
                          items:
                            type: integer
                            example: 28
                            default: 0
                        id:
                          type: integer
                          example: 640146
                          default: 0
                        original_language:
                          type: string
                          example: en
                        original_title:
                          type: string
                          example: 'Ant-Man and the Wasp: Quantumania'
                        overview:
                          type: string
                          example: Super-Hero partners Scott Lang and Hope van Dyne, along with with Hope's parents Janet van Dyne and Hank Pym, and Scott's daughter Cassie Lang, find themselves exploring the Quantum Realm, interacting with strange new creatures and embarking on an adventure that will push them beyond the limits of what they thought possible.
                        popularity:
                          type: number
                          example: 8567.865
                          default: 0
                        poster_path:
                          type: string
                          example: /ngl2FKBlU4fhbdsrtdom9LVLBXw.jpg
                        release_date:
                          type: string
                          example: '2023-02-15'
                        title:
                          type: string
                          example: 'Ant-Man and the Wasp: Quantumania'
                        video:
                          type: boolean
                          example: false
                          default: true
                        vote_average:
                          type: number
                          example: 6.5
                          default: 0
                        vote_count:
                          type: integer
                          example: 1886
                          default: 0
                  total_pages:
                    type: integer
                    example: 38029
                    default: 0
                  total_results:
                    type: integer
                    example: 760569
                    default: 0
      deprecated: false
  /3/movie/top_rated:
    get:
      summary: Top Rated
      description: Get a list of movies ordered by rating.
      operationId: movie-top-rated-list
      parameters:
        - name: language
          in: query
          schema:
            type: string
            default: en-US
        - name: page
          in: query
          schema:
            type: integer
            format: int32
            default: 1
        - name: region
          in: query
          description: ISO-3166-1 code
          schema:
            type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: '{"page":1,"results":[{"adult":false,"backdrop_path":"/tmU7GeKVybMWFButWEGl2M4GeiP.jpg","genre_ids":[18,80],"id":238,"original_language":"en","original_title":"The Godfather","overview":"Spanning the years 1945 to 1955, a chronicle of the fictional Italian-American Corleone crime family. When organized crime family patriarch, Vito Corleone barely survives an attempt on his life, his youngest son, Michael steps in to take care of the would-be killers, launching a campaign of bloody revenge.","popularity":100.932,"poster_path":"/3bhkrj58Vtu7enYsRolD1fZdja1.jpg","release_date":"1972-03-14","title":"The Godfather","video":false,"vote_average":8.7,"vote_count":17806},{"adult":false,"backdrop_path":"/kXfqcdQKsToO0OUXHcrrNCHDBzO.jpg","genre_ids":[18,80],"id":278,"original_language":"en","original_title":"The Shawshank Redemption","overview":"Framed in the 1940s for the double murder of his wife and her lover, upstanding banker Andy Dufresne begins a new life at the Shawshank prison, where he puts his accounting skills to work for an amoral warden. During his long stretch in prison, Dufresne comes to be admired by the other inmates -- including an older prisoner named Red -- for his integrity and unquenchable sense of hope.","popularity":98.25,"poster_path":"/q6y0Go1tsGEsmtFryDOJo3dEmqu.jpg","release_date":"1994-09-23","title":"The Shawshank Redemption","video":false,"vote_average":8.7,"vote_count":23656},{"adult":false,"backdrop_path":"/ejnlCzBd5pOGAYCpxC93NXSrdrz.jpg","genre_ids":[35,14],"id":772071,"original_language":"es","original_title":"Cuando Sea Joven","overview":"70-year-old Malena gets a second chance at life when she magically turns into her 22-year-old self. Now, posing as \"Maria\" to hide her true identity, she becomes the lead singer of her grandson''s band and tries to recover her dream of singing, which she had to give up at some point.","popularity":28.385,"poster_path":"/6gIJuFHh5Lj4dNaPG3TzIMl7L68.jpg","release_date":"2022-09-14","title":"Cuando Sea Joven","video":false,"vote_average":8.6,"vote_count":213},{"adult":false,"backdrop_path":"/kGzFbGhp99zva6oZODW5atUtnqi.jpg","genre_ids":[18,80],"id":240,"original_language":"en","original_title":"The Godfather Part II","overview":"In the continuing saga of the Corleone crime family, a young Vito Corleone grows up in Sicily and in 1910s New York. In the 1950s, Michael Corleone attempts to expand the family business into Las Vegas, Hollywood and Cuba.","popularity":57.533,"poster_path":"/hek3koDUyRQk7FIhPXsa6mT2Zc3.jpg","release_date":"1974-12-20","title":"The Godfather Part II","video":false,"vote_average":8.6,"vote_count":10775},{"adult":false,"backdrop_path":"/zb6fM1CX41D9rF9hdgclu0peUmy.jpg","genre_ids":[18,36,10752],"id":424,"original_language":"en","original_title":"Schindler''s List","overview":"The true story of how businessman Oskar Schindler saved over a thousand Jewish lives from the Nazis while they worked as slaves in his factory during World War II.","popularity":51.98,"poster_path":"/sF1U4EUQS8YHUYjNl3pMGNIQyr0.jpg","release_date":"1993-12-15","title":"Schindler''s List","video":false,"vote_average":8.6,"vote_count":13995},{"adult":false,"backdrop_path":"/vI3aUGTuRRdM7J78KIdW98LdxE5.jpg","genre_ids":[35,18,10749],"id":19404,"original_language":"hi","original_title":"दिलवाले दुल्हनिया ले जायेंगे","overview":"Raj is a rich, carefree, happy-go-lucky second generation NRI. Simran is the daughter of Chaudhary Baldev Singh, who in spite of being an NRI is very strict about adherence to Indian values. Simran has left for India to be married to her childhood fiancé. Raj leaves for India with a mission at his hands, to claim his lady love under the noses of her whole family. Thus begins a saga.","popularity":27.324,"poster_path":"/ktejodbcdCPXbMMdnpI9BUxW6O8.jpg","release_date":"1995-10-19","title":"Dilwale Dulhania Le Jayenge","video":false,"vote_average":8.6,"vote_count":4113},{"adult":false,"backdrop_path":"/Ab8mkHmkYADjU7wQiOkia9BzGvS.jpg","genre_ids":[16,10751,14],"id":129,"original_language":"ja","original_title":"千と千尋の神隠し","overview":"A young girl, Chihiro, becomes trapped in a strange new world of spirits. When her parents undergo a mysterious transformation, she must call upon the courage she never knew she had to free her family.","popularity":85.662,"poster_path":"/39wmItIWsg5sZMyRUHLkWBcuVCM.jpg","release_date":"2001-07-20","title":"Spirited Away","video":false,"vote_average":8.5,"vote_count":14210},{"adult":false,"backdrop_path":"/tj6iPnz18hGfr0LKqWmG6Cp3niO.jpg","genre_ids":[18],"id":389,"original_language":"en","original_title":"12 Angry Men","overview":"The defense and the prosecution have rested and the jury is filing into the jury room to decide if a young Spanish-American is guilty or innocent of murdering his father. What begins as an open and shut case soon becomes a mini-drama of each of the jurors'' prejudices and preconceptions about the trial, the accused, and each other.","popularity":39.076,"poster_path":"/ow3wq89wM8qd5X7hWKxiRfsFf9C.jpg","release_date":"1957-04-10","title":"12 Angry Men","video":false,"vote_average":8.5,"vote_count":7212},{"adult":false,"backdrop_path":"/dIWwZW7dJJtqC6CgWzYkNVKIUm8.jpg","genre_ids":[10749,16,18],"id":372058,"original_language":"ja","original_title":"君の名は。","overview":"High schoolers Mitsuha and Taki are complete strangers living separate lives. But one night, they suddenly switch places. Mitsuha wakes up in Taki’s body, and he in hers. This bizarre occurrence continues to happen randomly, and the two must adjust their lives around each other.","popularity":94.963,"poster_path":"/q719jXXEzOoYaps6babgKnONONX.jpg","release_date":"2016-08-26","title":"Your Name.","video":false,"vote_average":8.5,"vote_count":9734},{"adult":false,"backdrop_path":"/hiKmpZMGZsrkA3cdce8a7Dpos1j.jpg","genre_ids":[35,53,18],"id":496243,"original_language":"ko","original_title":"기생충","overview":"All unemployed, Ki-taek''s family takes peculiar interest in the wealthy and glamorous Parks for their livelihood until they get entangled in an unexpected incident.","popularity":72.256,"poster_path":"/7IiTTgloJzvGI1TAYymCfbfl3vT.jpg","release_date":"2019-05-30","title":"Parasite","video":false,"vote_average":8.5,"vote_count":15620},{"adult":false,"backdrop_path":"/dqK9Hag1054tghRQSqLSfrkvQnA.jpg","genre_ids":[18,28,80,53],"id":155,"original_language":"en","original_title":"The Dark Knight","overview":"Batman raises the stakes in his war on crime. With the help of Lt. Jim Gordon and District Attorney Harvey Dent, Batman sets out to dismantle the remaining criminal organizations that plague the streets. The partnership proves to be effective, but they soon find themselves prey to a reign of chaos unleashed by a rising criminal mastermind known to the terrified citizens of Gotham as the Joker.","popularity":83.151,"poster_path":"/qJ2tW6WMUDux911r6m7haRef0WH.jpg","release_date":"2008-07-14","title":"The Dark Knight","video":false,"vote_average":8.5,"vote_count":29578},{"adult":false,"backdrop_path":"/vxJ08SvwomfKbpboCWynC3uqUg4.jpg","genre_ids":[14,18,80],"id":497,"original_language":"en","original_title":"The Green Mile","overview":"A supernatural tale set on death row in a Southern prison, where gentle giant John Coffey possesses the mysterious power to heal people''s ailments. When the cell block''s head guard, Paul Edgecomb, recognizes Coffey''s miraculous gift, he tries desperately to help stave off the condemned man''s execution.","popularity":58.199,"poster_path":"/o0lO84GI7qrG6XFvtsPOSV7CTNa.jpg","release_date":"1999-12-10","title":"The Green Mile","video":false,"vote_average":8.5,"vote_count":15312},{"adult":false,"backdrop_path":"/wxaBkuqVIgImjRHEMJoxL9Lq6i8.jpg","genre_ids":[16,10751,12,14],"id":995133,"original_language":"en","original_title":"The Boy, the Mole, the Fox and the Horse","overview":"The unlikely friendship of a boy, a mole, a fox and a horse traveling together in the boy’s search for home.","popularity":29.753,"poster_path":"/oQRgyQCzcyZvE6w5heM9ktVY0LT.jpg","release_date":"2022-12-25","title":"The Boy, the Mole, the Fox and the Horse","video":false,"vote_average":8.5,"vote_count":309},{"adult":false,"backdrop_path":"/suaEOtk1N1sgg2MTM7oZd2cfVp3.jpg","genre_ids":[53,80],"id":680,"original_language":"en","original_title":"Pulp Fiction","overview":"A burger-loving hit man, his philosophical partner, a drug-addled gangster''s moll and a washed-up boxer converge in this sprawling, comedic crime caper. Their adventures unfurl in three stories that ingeniously trip back and forth in time.","popularity":68.574,"poster_path":"/d5iIlFn5s0ImszYzBPb8JPIfbXD.jpg","release_date":"1994-09-10","title":"Pulp Fiction","video":false,"vote_average":8.5,"vote_count":25040},{"adult":false,"backdrop_path":"/3RMLbSEXOn1CzLoNT7xFeLfdxhq.jpg","genre_ids":[10749,16],"id":372754,"original_language":"ja","original_title":"同級生","overview":"Rihito Sajo, an honor student with a perfect score on the entrance exam and Hikaru Kusakabe, in a band and popular among girls, would have never crossed paths. Until one day they started talking at the practice for their school’s upcoming chorus festival. After school, the two meet regularly, as Hikaru helps Rihito to improve his singing skills. While they listen to each other’s voice and harmonize, their hearts start to beat together.","popularity":12.556,"poster_path":"/cIfRCA5wEvj9tApca4UDUagQEiM.jpg","release_date":"2016-02-20","title":"Dou kyu sei – Classmates","video":false,"vote_average":8.5,"vote_count":301},{"adult":false,"backdrop_path":"/eoCSp75lxatmIa6aGqfnzwtbttd.jpg","genre_ids":[37],"id":429,"original_language":"it","original_title":"Il buono, il brutto, il cattivo","overview":"While the Civil War rages on between the Union and the Confederacy, three men – a quiet loner, a ruthless hitman, and a Mexican bandit – comb the American Southwest in search of a strongbox containing $200,000 in stolen gold.","popularity":56.064,"poster_path":"/bX2xnavhMYjWDoZp1VM6VnU1xwe.jpg","release_date":"1966-12-23","title":"The Good, the Bad and the Ugly","video":false,"vote_average":8.5,"vote_count":7347},{"adult":false,"backdrop_path":"/3h1JZGDhZ8nzxdgvkxha0qBqi05.jpg","genre_ids":[35,18,10749],"id":13,"original_language":"en","original_title":"Forrest Gump","overview":"A man with a low IQ has accomplished great things in his life and been present during significant historic events—in each case, far exceeding what anyone imagined he could do. But despite all he has achieved, his one true love eludes him.","popularity":62.225,"poster_path":"/arw2vcBveWOVZr6pxd9XTd1TdQa.jpg","release_date":"1994-06-23","title":"Forrest Gump","video":false,"vote_average":8.5,"vote_count":24529},{"adult":false,"backdrop_path":"/uBZQOYZLIU9dBmd62fdzBAoropu.jpg","genre_ids":[28,12,16,18],"id":704264,"original_language":"en","original_title":"Primal: Tales of Savagery","overview":"Genndy Tartakovsky''s Primal: Tales of Savagery features a caveman and a dinosaur on the brink of extinction. Bonded by tragedy, this unlikely friendship becomes the only hope of survival.","popularity":15.35,"poster_path":"/9NBBkdxH0TjQEBSN2AzeE1sgsF9.jpg","release_date":"2019-11-21","title":"Primal: Tales of Savagery","video":false,"vote_average":8.5,"vote_count":262},{"adult":false,"backdrop_path":"/9DeGfFIqjph5CBFVQrD6wv9S7rR.jpg","genre_ids":[12,14,28],"id":122,"original_language":"en","original_title":"The Lord of the Rings: The Return of the King","overview":"Aragorn is revealed as the heir to the ancient kings as he, Gandalf and the other members of the broken fellowship struggle to save Gondor from Sauron''s forces. Meanwhile, Frodo and Sam take the ring closer to the heart of Mordor, the dark lord''s realm.","popularity":70.315,"poster_path":"/rCzpDGLbOoPwLjy3OAm5NUPOTrC.jpg","release_date":"2003-12-01","title":"The Lord of the Rings: The Return of the King","video":false,"vote_average":8.5,"vote_count":21488},{"adult":false,"backdrop_path":"/sw7mordbZxgITU877yTpZCud90M.jpg","genre_ids":[18,80],"id":769,"original_language":"en","original_title":"GoodFellas","overview":"The true story of Henry Hill, a half-Irish, half-Sicilian Brooklyn kid who is adopted by neighbourhood gangsters at an early age and climbs the ranks of a Mafia family under the guidance of Jimmy Conway.","popularity":39.718,"poster_path":"/aKuFiU82s5ISJpGZp7YkIr3kCUd.jpg","release_date":"1990-09-12","title":"GoodFellas","video":false,"vote_average":8.5,"vote_count":11192}],"total_pages":552,"total_results":11032}'
              schema:
                type: object
                properties:
                  page:
                    type: integer
                    example: 1
                    default: 0
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        adult:
                          type: boolean
                          example: false
                          default: true
                        backdrop_path:
                          type: string
                          example: /tmU7GeKVybMWFButWEGl2M4GeiP.jpg
                        genre_ids:
                          type: array
                          items:
                            type: integer
                            example: 18
                            default: 0
                        id:
                          type: integer
                          example: 238
                          default: 0
                        original_language:
                          type: string
                          example: en
                        original_title:
                          type: string
                          example: The Godfather
                        overview:
                          type: string
                          example: Spanning the years 1945 to 1955, a chronicle of the fictional Italian-American Corleone crime family. When organized crime family patriarch, Vito Corleone barely survives an attempt on his life, his youngest son, Michael steps in to take care of the would-be killers, launching a campaign of bloody revenge.
                        popularity:
                          type: number
                          example: 100.932
                          default: 0
                        poster_path:
                          type: string
                          example: /3bhkrj58Vtu7enYsRolD1fZdja1.jpg
                        release_date:
                          type: string
                          example: '1972-03-14'
                        title:
                          type: string
                          example: The Godfather
                        video:
                          type: boolean
                          example: false
                          default: true
                        vote_average:
                          type: number
                          example: 8.7
                          default: 0
                        vote_count:
                          type: integer
                          example: 17806
                          default: 0
                  total_pages:
                    type: integer
                    example: 552
                    default: 0
                  total_results:
                    type: integer
                    example: 11032
                    default: 0
      deprecated: false
  /3/movie/upcoming:
    get:
      summary: Upcoming
      description: Get a list of movies that are being released soon.
      operationId: movie-upcoming-list
      parameters:
        - name: language
          in: query
          schema:
            type: string
            default: en-US
        - name: page
          in: query
          schema:
            type: integer
            format: int32
            default: 1
        - name: region
          in: query
          description: ISO-3166-1 code
          schema:
            type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: '{"dates":{"maximum":"2023-05-23","minimum":"2023-05-04"},"page":1,"results":[{"adult":false,"backdrop_path":"/7bWxAsNPv9CXHOhZbJVlj2KxgfP.jpg","genre_ids":[27,53],"id":713704,"original_language":"en","original_title":"Evil Dead Rise","overview":"Two sisters find an ancient vinyl that gives birth to bloodthirsty demons that run amok in a Los Angeles apartment building and thrusts them into a primal battle for survival as they face the most nightmarish version of family imaginable.","popularity":1696.367,"poster_path":"/mIBCtPvKZQlxubxKMeViO2UrP3q.jpg","release_date":"2023-04-12","title":"Evil Dead Rise","video":false,"vote_average":7,"vote_count":207},{"adult":false,"backdrop_path":"/5Y5pz0NX7SZS9036I733F7uNcwK.jpg","genre_ids":[27,53],"id":758323,"original_language":"en","original_title":"The Pope''s Exorcist","overview":"Father Gabriele Amorth, Chief Exorcist of the Vatican, investigates a young boy''s terrifying possession and ends up uncovering a centuries-old conspiracy the Vatican has desperately tried to keep hidden.","popularity":1073.229,"poster_path":"/9JBEPLTPSm0d1mbEcLxULjJq9Eh.jpg","release_date":"2023-04-05","title":"The Pope''s Exorcist","video":false,"vote_average":6.5,"vote_count":143},{"adult":false,"backdrop_path":"/wD2kUCX1Bb6oeIb2uz7kbdfLP6k.jpg","genre_ids":[27,53],"id":980078,"original_language":"en","original_title":"Winnie the Pooh: Blood and Honey","overview":"Christopher Robin is headed off to college and he has abandoned his old friends, Pooh and Piglet, which then leads to the duo embracing their inner monsters.","popularity":690.338,"poster_path":"/ewF3IlGscc7FjgGEPcQvZsAsgAW.jpg","release_date":"2023-01-27","title":"Winnie the Pooh: Blood and Honey","video":false,"vote_average":5.8,"vote_count":517},{"adult":false,"backdrop_path":"/sp7MPK2K60LLd7A6zjHKsfgjFil.jpg","genre_ids":[27,53],"id":296271,"original_language":"en","original_title":"The Devil Conspiracy","overview":"The hottest biotech company in the world has discovered they can clone history’s most influential people from the dead. Now, they are auctioning clones of Michelangelo, Galileo, Vivaldi, and others for tens of millions of dollars to the world’s ultra-rich. But when they steal the Shroud of Turin and clone the DNA of Jesus Christ, all hell breaks loose.","popularity":615.365,"poster_path":"/2lUYbD2C3XSuwqMUbDVDQuz9mqz.jpg","release_date":"2023-01-13","title":"The Devil Conspiracy","video":false,"vote_average":6.3,"vote_count":129},{"adult":false,"backdrop_path":"/fI5RsaM0NSU6TqztRhA2pal5ezv.jpg","genre_ids":[28,80,53],"id":385687,"original_language":"en","original_title":"Fast X","overview":"Over many missions and against impossible odds, Dom Toretto and his family have outsmarted, out-nerved and outdriven every foe in their path. Now, they confront the most lethal opponent they''ve ever faced: A terrifying threat emerging from the shadows of the past who''s fueled by blood revenge, and who is determined to shatter this family and destroy everything—and everyone—that Dom loves, forever.","popularity":524.606,"poster_path":"/jwMMQR69Xz9AYtX4u2uYJgfAAev.jpg","release_date":"2023-05-17","title":"Fast X","video":false,"vote_average":0,"vote_count":0},{"adult":false,"backdrop_path":"/94TIUEhuwv8PhdIADEvSuwPljS5.jpg","genre_ids":[10752,28],"id":840326,"original_language":"fi","original_title":"Sisu","overview":"Deep in the wilderness of Lapland, Aatami Korpi is searching for gold but after he stumbles upon Nazi patrol, a breathtaking and gold-hungry chase through the destroyed and mined Lapland wilderness begins.","popularity":364.899,"poster_path":"/dHx5yuBb05U9vNaNhIBD7jWyxPk.jpg","release_date":"2023-01-27","title":"Sisu","video":false,"vote_average":6.9,"vote_count":16},{"adult":false,"backdrop_path":"/qCW1DUmfWj2xLQRCRhrwkQyKROH.jpg","genre_ids":[14,28,12],"id":455476,"original_language":"en","original_title":"Knights of the Zodiac","overview":"When a headstrong street orphan, Seiya, in search of his abducted sister unwittingly taps into hidden powers, he discovers he might be the only person alive who can protect a reincarnated goddess, sent to watch over humanity. Can he let his past go and embrace his destiny to become a Knight of the Zodiac?","popularity":318.281,"poster_path":"/ixLxaRJrJZoN3pg6tc2RAsheYmV.jpg","release_date":"2023-04-27","title":"Knights of the Zodiac","video":false,"vote_average":6.5,"vote_count":8},{"adult":false,"backdrop_path":"/3phD5uW41TZ8RavH9xjQv661MPw.jpg","genre_ids":[12,10751,14,10749],"id":447277,"original_language":"en","original_title":"The Little Mermaid","overview":"The youngest of King Triton’s daughters, and the most defiant, Ariel longs to find out more about the world beyond the sea, and while visiting the surface, falls for the dashing Prince Eric. With mermaids forbidden to interact with humans, Ariel makes a deal with the evil sea witch, Ursula, which gives her a chance to experience life on land, but ultimately places her life – and her father’s crown – in jeopardy.","popularity":246.482,"poster_path":"/ym1dxyOk4jFcSl4Q2zmRrA5BEEN.jpg","release_date":"2023-05-18","title":"The Little Mermaid","video":false,"vote_average":0,"vote_count":0},{"adult":false,"backdrop_path":"/8c9c4xg0IdXDg627uQF35K54VpC.jpg","genre_ids":[10749,35],"id":800301,"original_language":"en","original_title":"What''s Love Got to Do with It?","overview":"Two childhood friends now in their thirties must decide whether to follow their heads or their hearts once the man decides to follow his parents'' advice and enter into an arranged marriage in Pakistan.","popularity":243.462,"poster_path":"/14fGGPAL5PQxuesjO4CFoDJEH5G.jpg","release_date":"2023-01-26","title":"What''s Love Got to Do with It?","video":false,"vote_average":6.5,"vote_count":43},{"adult":false,"backdrop_path":"/7TUp4uKIaX9c2TAZLPwjty5A0EP.jpg","genre_ids":[878,12,28],"id":447365,"original_language":"en","original_title":"Guardians of the Galaxy Volume 3","overview":"Peter Quill, still reeling from the loss of Gamora, must rally his team around him to defend the universe along with protecting one of their own. A mission that, if not completed successfully, could quite possibly lead to the end of the Guardians as we know them.","popularity":239.132,"poster_path":"/r2J02Z2OpNTctfOSN1Ydgii51I3.jpg","release_date":"2023-05-03","title":"Guardians of the Galaxy Volume 3","video":false,"vote_average":10,"vote_count":1},{"adult":false,"backdrop_path":"/pr5B7Hb7711QQDirAyS5P7fKjts.jpg","genre_ids":[53,28,27,12],"id":760741,"original_language":"en","original_title":"Beast","overview":"A recently widowed man and his two teenage daughters travel to a game reserve in South Africa. However, their journey of healing soon turns into a fight for survival when a bloodthirsty lion starts to stalk them.","popularity":191.355,"poster_path":"/f18rGcLlawKjNC5KRh36S0mvRlY.jpg","release_date":"2022-08-11","title":"Beast","video":false,"vote_average":6.8,"vote_count":1077},{"adult":false,"backdrop_path":"/sxQuWAUnyZCSJnjXhcGrCP6ASUy.jpg","genre_ids":[18,27,53],"id":931954,"original_language":"es","original_title":"Venus","overview":"Lucía, a club dancer on the run, takes refuge in a sinister building on the outskirts of Madrid where her sister Rocío lives with her daughter Alba.","popularity":164.762,"poster_path":"/vyQmDx5CF8x9T6WKCLuoFotGpjf.jpg","release_date":"2022-12-02","title":"Venus","video":false,"vote_average":5.6,"vote_count":82},{"adult":false,"backdrop_path":"/tIX6j3NzadlwGcJ52nuWdmtOQkg.jpg","genre_ids":[27,53,9648],"id":717728,"original_language":"en","original_title":"Jeepers Creepers: Reborn","overview":"Forced to travel with her boyfriend to a horror festival, Laine begins to experience disturbing visions associated with the urban legend of The Creeper. As the festival arrives and the blood-soaked entertainment builds to a frenzy, she becomes the center of it while something unearthly has been summoned.","popularity":165.888,"poster_path":"/aGBuiirBIQ7o64FmJxO53eYDuro.jpg","release_date":"2022-09-15","title":"Jeepers Creepers: Reborn","video":false,"vote_average":5.8,"vote_count":745},{"adult":false,"backdrop_path":"/bGfbeZ52aqTvxde9pjyC62jaSUg.jpg","genre_ids":[18],"id":919570,"original_language":"ro","original_title":"R.M.N.","overview":"A few days before Christmas, having quit his job in Germany, Matthias returns to his Transylvanian village. He wishes to involve himself more in the education of his son, Rudi, left for too long in the care of his mother, Ana, and to rid him of the unresolved fears that have gripped him. He’s also eager to see his ex-lover Csilla and preoccupied about his old father, Otto. When a few new workers are hired at the small factory that Csilla manages, the peace of the community is disturbed, underlying fears grip the adults, and frustrations, conflicts and passions erupt through the thin sliver of apparent understanding and calm.","popularity":149.396,"poster_path":"/kDcEfgF7CUo0IYLIazUYYqxagTG.jpg","release_date":"2022-06-03","title":"R.M.N.","video":false,"vote_average":7,"vote_count":60},{"adult":false,"backdrop_path":"/dnrUa6EXInBVfuPZLMDvkH7bMBi.jpg","genre_ids":[18],"id":855263,"original_language":"en","original_title":"A Thousand and One","overview":"Struggling but unapologetically living on her own terms, Inez is moving from shelter to shelter in mid-1990s New York City. With her 6-year-old son Terry in foster care and unable to leave him again, she kidnaps him so they can build their life together. As the years go by, their family grows and Terry becomes a smart yet quiet teenager, but the secret that has defined their lives threatens to destroy the home they have so improbably built.","popularity":140.053,"poster_path":"/9WyipqK3wOf8lJLWqFX0r7aBodm.jpg","release_date":"2023-03-31","title":"A Thousand and One","video":false,"vote_average":8.3,"vote_count":11},{"adult":false,"backdrop_path":"/qElNES0sHVQcbzvGrTx7ccpGzij.jpg","genre_ids":[878,28,18],"id":842675,"original_language":"zh","original_title":"流浪地球2","overview":"Humans built huge engines on the surface of the earth to find a new home. But the road to the universe is perilous. In order to save earth, young people once again have to step forward to start a race against time for life and death.","popularity":99.801,"poster_path":"/pR858ihc6Ls9xohpdRJVjV787ml.jpg","release_date":"2023-01-22","title":"The Wandering Earth II","video":false,"vote_average":7.6,"vote_count":164},{"adult":false,"backdrop_path":"/kfKW0HBObLAd4Lj27XX5QoLWmGe.jpg","genre_ids":[35,27,14],"id":649609,"original_language":"en","original_title":"Renfield","overview":"Having grown sick and tired of his centuries as Dracula''s lackey, Renfield finds a new lease on life — and maybe even redemption — when he falls for feisty, perennially angry traffic cop Rebecca Quincy.","popularity":106.081,"poster_path":"/p6yUjhvNGQpFZilKwOKbxQ1eHlo.jpg","release_date":"2023-04-07","title":"Renfield","video":false,"vote_average":6.8,"vote_count":78},{"adult":false,"backdrop_path":"/l2VqHMBEwAYZh6DeAZSlOzAXw7N.jpg","genre_ids":[35],"id":933419,"original_language":"en","original_title":"Champions","overview":"A stubborn and hotheaded minor league basketball coach is forced to train a Special Olympics team when he is sentenced to community service.","popularity":100.151,"poster_path":"/yVgtsoXyTZBww7SWE4JE1U4Wcel.jpg","release_date":"2023-03-09","title":"Champions","video":false,"vote_average":7.1,"vote_count":85},{"adult":false,"backdrop_path":"/ndrZYPNv0jKMCO9Ne98vfNxTzkW.jpg","genre_ids":[18,53],"id":878375,"original_language":"en","original_title":"On a Wing and a Prayer","overview":"After their pilot dies unexpectedly mid-flight, passenger Doug White must safely land a plane and save his entire family from insurmountable danger.","popularity":86.548,"poster_path":"/8GTJwaC2CeNa0Zg6QrPLwrfurpZ.jpg","release_date":"2023-04-06","title":"On a Wing and a Prayer","video":false,"vote_average":6.4,"vote_count":33},{"adult":false,"backdrop_path":"/jENycYiYGr5NvMs789zj06JkW5l.jpg","genre_ids":[35,18],"id":497828,"original_language":"en","original_title":"Triangle of Sadness","overview":"A celebrity model couple are invited on a luxury cruise for the uber-rich, helmed by an unhinged, alcoholic captain. What first appears Instagrammable ends catastrophically, leaving the survivors stranded on a desert island in a struggle of hierarchy.","popularity":80.161,"poster_path":"/k9eLozCgCed5FGTSdHu0bBElAV8.jpg","release_date":"2022-09-18","title":"Triangle of Sadness","video":false,"vote_average":7.2,"vote_count":1224}],"total_pages":19,"total_results":369}'
              schema:
                type: object
                properties:
                  dates:
                    type: object
                    properties:
                      maximum:
                        type: string
                        example: '2023-05-23'
                      minimum:
                        type: string
                        example: '2023-05-04'
                  page:
                    type: integer
                    example: 1
                    default: 0
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        adult:
                          type: boolean
                          example: false
                          default: true
                        backdrop_path:
                          type: string
                          example: /7bWxAsNPv9CXHOhZbJVlj2KxgfP.jpg
                        genre_ids:
                          type: array
                          items:
                            type: integer
                            example: 27
                            default: 0
                        id:
                          type: integer
                          example: 713704
                          default: 0
                        original_language:
                          type: string
                          example: en
                        original_title:
                          type: string
                          example: Evil Dead Rise
                        overview:
                          type: string
                          example: Two sisters find an ancient vinyl that gives birth to bloodthirsty demons that run amok in a Los Angeles apartment building and thrusts them into a primal battle for survival as they face the most nightmarish version of family imaginable.
                        popularity:
                          type: number
                          example: 1696.367
                          default: 0
                        poster_path:
                          type: string
                          example: /mIBCtPvKZQlxubxKMeViO2UrP3q.jpg
                        release_date:
                          type: string
                          example: '2023-04-12'
                        title:
                          type: string
                          example: Evil Dead Rise
                        video:
                          type: boolean
                          example: false
                          default: true
                        vote_average:
                          type: integer
                          example: 7
                          default: 0
                        vote_count:
                          type: integer
                          example: 207
                          default: 0
                  total_pages:
                    type: integer
                    example: 19
                    default: 0
                  total_results:
                    type: integer
                    example: 369
                    default: 0
      deprecated: false
  /3/movie/{movie_id}:
    get:
      summary: Details
      description: Get the top level details of a movie by ID.
      operationId: movie-details
      parameters:
        - name: movie_id
          in: path
          schema:
            type: integer
            format: int32
          required: true
        - name: append_to_response
          in: query
          description: comma separated list of endpoints within this namespace, 20 items max
          schema:
            type: string
        - name: language
          in: query
          schema:
            type: string
            default: en-US
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: '{"adult":false,"backdrop_path":"/hZkgoQYus5vegHoetLkCJzb17zJ.jpg","belongs_to_collection":null,"budget":63000000,"genres":[{"id":18,"name":"Drama"},{"id":53,"name":"Thriller"},{"id":35,"name":"Comedy"}],"homepage":"http://www.foxmovies.com/movies/fight-club","id":550,"imdb_id":"tt0137523","original_language":"en","original_title":"Fight Club","overview":"A ticking-time-bomb insomniac and a slippery soap salesman channel primal male aggression into a shocking new form of therapy. Their concept catches on, with underground \"fight clubs\" forming in every town, until an eccentric gets in the way and ignites an out-of-control spiral toward oblivion.","popularity":61.416,"poster_path":"/pB8BM7pdSp6B6Ih7QZ4DrQ3PmJK.jpg","production_companies":[{"id":508,"logo_path":"/7cxRWzi4LsVm4Utfpr1hfARNurT.png","name":"Regency Enterprises","origin_country":"US"},{"id":711,"logo_path":"/tEiIH5QesdheJmDAqQwvtN60727.png","name":"Fox 2000 Pictures","origin_country":"US"},{"id":20555,"logo_path":"/hD8yEGUBlHOcfHYbujp71vD8gZp.png","name":"Taurus Film","origin_country":"DE"},{"id":54051,"logo_path":null,"name":"Atman Entertainment","origin_country":""},{"id":54052,"logo_path":null,"name":"Knickerbocker Films","origin_country":"US"},{"id":4700,"logo_path":"/A32wmjrs9Psf4zw0uaixF0GXfxq.png","name":"The Linson Company","origin_country":"US"},{"id":25,"logo_path":"/qZCc1lty5FzX30aOCVRBLzaVmcp.png","name":"20th Century Fox","origin_country":"US"}],"production_countries":[{"iso_3166_1":"US","name":"United States of America"}],"release_date":"1999-10-15","revenue":100853753,"runtime":139,"spoken_languages":[{"english_name":"English","iso_639_1":"en","name":"English"}],"status":"Released","tagline":"Mischief. Mayhem. Soap.","title":"Fight Club","video":false,"vote_average":8.433,"vote_count":26280}'
              schema:
                type: object
                properties:
                  adult:
                    type: boolean
                    example: false
                    default: true
                  backdrop_path:
                    type: string
                    example: /hZkgoQYus5vegHoetLkCJzb17zJ.jpg
                  belongs_to_collection: {}
                  budget:
                    type: integer
                    example: 63000000
                    default: 0
                  genres:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          example: 18
                          default: 0
                        name:
                          type: string
                          example: Drama
                  homepage:
                    type: string
                    example: http://www.foxmovies.com/movies/fight-club
                  id:
                    type: integer
                    example: 550
                    default: 0
                  imdb_id:
                    type: string
                    example: tt0137523
                  original_language:
                    type: string
                    example: en
                  original_title:
                    type: string
                    example: Fight Club
                  overview:
                    type: string
                    example: A ticking-time-bomb insomniac and a slippery soap salesman channel primal male aggression into a shocking new form of therapy. Their concept catches on, with underground "fight clubs" forming in every town, until an eccentric gets in the way and ignites an out-of-control spiral toward oblivion.
                  popularity:
                    type: number
                    example: 61.416
                    default: 0
                  poster_path:
                    type: string
                    example: /pB8BM7pdSp6B6Ih7QZ4DrQ3PmJK.jpg
                  production_companies:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          example: 508
                          default: 0
                        logo_path:
                          type: string
                          example: /7cxRWzi4LsVm4Utfpr1hfARNurT.png
                        name:
                          type: string
                          example: Regency Enterprises
                        origin_country:
                          type: string
                          example: US
                  production_countries:
                    type: array
                    items:
                      type: object
                      properties:
                        iso_3166_1:
                          type: string
                          example: US
                        name:
                          type: string
                          example: United States of America
                  release_date:
                    type: string
                    example: '1999-10-15'
                  revenue:
                    type: integer
                    example: 100853753
                    default: 0
                  runtime:
                    type: integer
                    example: 139
                    default: 0
                  spoken_languages:
                    type: array
                    items:
                      type: object
                      properties:
                        english_name:
                          type: string
                          example: English
                        iso_639_1:
                          type: string
                          example: en
                        name:
                          type: string
                          example: English
                  status:
                    type: string
                    example: Released
                  tagline:
                    type: string
                    example: Mischief. Mayhem. Soap.
                  title:
                    type: string
                    example: Fight Club
                  video:
                    type: boolean
                    example: false
                    default: true
                  vote_average:
                    type: number
                    example: 8.433
                    default: 0
                  vote_count:
                    type: integer
                    example: 26280
                    default: 0
      deprecated: false